body {
    color: white;
    font-family: Maximum Impact, serif;
}

::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal{
    background-color: rgba(0,0,0,0.61);
}